@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Open+Sans:wght@300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Poppins:wght@100;200;300;400&family=Raleway:wght@300&display=swap');


:root {
    --font-title: 'Open Sans', 'Nunito Sans', sans-serif;
    --font-head-table: 'Poppins', 'Raleway', 'Open Sans', sans-serif;
    --main-color-destac: #0466C8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Resets */
ul,
li {
    list-style: none;
}

/* CSS */

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    grid-template-columns: .5fr 20fr;
    grid-template-rows: 2fr 10fr 1fr;
    grid-template-areas:
        "he he"
        "me ma"
        " fo fo";
}

header {
    grid-area: he;
    background-color: var(--main-color-destac);
    padding: 18px;
    box-shadow: 5px -10px 23px 9px black;
    /* min-height: 100px; */
}

.l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}

.l-header__box__left {
    /* background: yellow; */
    flex-basis: 60%;
    display: flex;
    justify-content: flex-end;
}

.l-header__box__rigth {
    /* background: yellow; */
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title,
#usuario-login,
#usuario-log-out {
    color: white;
}

#usuario-login,
#usuario-log-out {
    cursor: pointer;
}

#usuario-log-out {
    font-size: 1.6rem;
    display: none;
}

label[for="usuario-login"] {
    color: #ffffff;
    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

menu {
    grid-area: me;
    display: flex;
    flex-direction: column;
}

#drop-menu {
    background-color: #d1d4dd;
    min-width: 50px;
    height: 50px;
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.drop-menu {
    /* background-color: aqua; */
    width: 200px;
}

.stack {
    height: 5px;
    width: 44px;
    background-color: black;
    border: 2px solid black;
    margin: 5px;
    border-radius: 4px;
}

.stack-01 {
    transform: rotate(45deg);
    margin: 5px 0px 0px 0px;
    transition: .5s;
}

.stack-02 {
    display: none;
}

.stack-03 {
    transform: rotate(-45deg);
    margin: -5px 0px 0px 0px;
    transition: .5s;
}

nav {
    background-color: #979DAC;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

#items-menu {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 100%;
    height: 100%;
}

#items-menu>li {
    padding: 10px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#items-menu>li:hover {
    background-color: #d1d4dd;
}

#items-menu>li:hover i {
    font-size: 2.2rem;
}

main {
    /* background-color: bisque; */
    grid-area: ma;
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-forms {
    /* background-color: aqua; */
    height: 85%;
    width: 80%;
    padding: 2%;
    margin: 0 10px;
    display: none;
}

.title-forms {
    font-family: var(--font-title);
    font-weight: normal;
}

form.form-usuario {
    margin: 2% 0;
}

form.form-usuario>label {
    font-family: var(--font-title);
}

form.form-usuario>input[type="text"],
input[type="password"],
input[type="email"] {
    display: block;
    font-size: 1rem;
    height: 2rem;
    width: 60%;
    /* border: solid 1px rgba(0, 0, 0, 0.468); */
    border: none;
    border-bottom: #00000051 solid .5px;
    border-radius: 4px;
    margin-bottom: 2%;
    padding: 0 1%;
    box-shadow: 3px 9px 17px -5px rgba(0, 0, 0, 0.267);
}

#bt-cadastrar,
#bt-editar,
#bt-excluir {
    border: none;
    height: 2.1rem;
    font-family: var(--font-title);
    font-size: 1.1rem;
    border-radius: 4px;
    width: 35%;
    margin: 2% 12%;
    box-shadow: 3px 9px 17px -5px rgba(0, 0, 0, 0.267);
}

footer {
    grid-area: fo;
    background-color: #000000;
    padding: 1%;
}

#rede-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    margin: 10px;
}

#rede-sociais>li {
    height: 40px;
    width: 40px;
    margin: -15px 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rede-sociais>li:hover>abbr>i {
    font-size: 2rem;
    animation: shake infinite 1s;
}

@keyframes shake {
    0% {
        transform: rotate(35deg);
        transition: 1s;
    }

    50% {
        transform: rotate(-50deg);
        transition: 1s;
    }

    100% {
        transform: rotate(35deg);
        transition: 1s;
    }
}

#nome-dev,
span {
    display: block;
    font-family: var(--font-title);
    color: #ffffff;
    text-align: center;
}

/* Classes */

.fa-user,
.fa-pencil,
.fa-file-circle-xmark,
.fa-folder-open,
.fa-gear {
    font-size: 1.6rem;
}

#items-menu li {
    padding: 2px;
}

.fa-cube {
    font-size: 2rem;
    color: #ffffff;
}

.fa-github,
.fa-discord,
.fa-telegram,
.fa-instagram,
.fa-linkedin-in,
.fa-whatsapp {
    color: #ffffff;
    font-size: 1.5rem;
}

#sec-read {
    display: none;
    overflow: auto;
    max-height: 400px;
}

/* Table Style */
table#usuarios-cadastrados {
    font-family: var(--font-head-table);
    margin: 5px;
}

thead {
    color: #ffffff;
    background-color: #000000;
}

td,
th {
    border-bottom: #000000 solid 1px;
    padding: 2%;
    margin: 10px;
    width: 180px;
}

th[scope="col"] {
    width: 60px;
    position: sticky;
    top: 0;
    background-color: black;
}

th[scope="row"] {
    height: 50px;
}

.not-text-decoration {
    text-decoration: none;
}