/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* Style */
body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr .8fr;
    grid-template-areas:
        "he he"
        "ma ma"
        "fo fo"
    ;
}

.l-header {
    background-color: var(--main-color-destac);
    grid-area: he;
    padding: 0 0 0 30px;
    box-shadow: 2px 5px 13px -1px rgba(0, 0, 0, 0.527);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    max-height: 80px;
}

.l-header__box__left,
.l-header__box__rigth {
    height: 100%;
    display: flex;
}

.l-header__box__left {
    justify-content: center;
    align-items: center;
}

.l-header__box__left__title {
    color: var(--white-color);
    margin-left: 10px;
}

.l-header__box__rigth {
    width: 25%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.entrar-cadastrar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    list-style: none;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.a-entrar,
.a-cadastrar {
    text-decoration: none;
    color: #ffffff;
}

.a-entrar:hover,
.a-cadastrar:hover {
    color: #ffffffc9;
}

.l-main {
    grid-area: ma;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section#login {
    background-color: var(--gray-color);
    width: 400px;
    height: 440px;
    border-radius: 5px;
    box-shadow: 5px 24px 41px -16px rgb(0 0 0 / 40%);
    margin: 10px 0;
}

div.login-logo {
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-icon {
    font-size: 4rem;
    color: var(--main-color-destac);
}

#login-form {
    padding: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label[for="usuario"],
label[for="senha"] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
}

input[name="usuario"],
input[name="senha"] {
    width: 100%;
    height: 2.5rem;
    border-radius: 4px;
    margin: 0 0 10px 0;
    border-style: solid;
    border-color: var(--main-color-destac);
    font-size: 1.2rem;
    padding-left: 15px;
}

input[name="usuario"]:focus,
input[name="senha"]:focus {
    border: solid 2px var(--main-color-destac);
    outline: none;
}

div.login-controls {
    width: 85%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bt-login {
    width: 45%;
    height: 3rem;
    border-radius: 4px;
    margin: 30px 0 10px 0;
    text-align: center;
    font-size: 1.1rem;
    border-style: solid;
    border-color: var(--main-color-destac);
    cursor: pointer;
}

section#cadastro {
    display: none;
}

.form-cadastro {
    text-align: center;
}

.form-cadastro__title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.3rem;
    font-weight: normal;
    margin: 4% 0;
}

.form-cadastro__input {
    height: 3rem;
    width: 90%;
    font-size: 1.1rem;
    margin: 2% 0;
    padding-left: 2%;
    border: solid 2px var(--main-color-destac);
    border-radius: 4px;
}

.form-cadastro__input:focus {
    border: solid 2px var(--main-color-destac);
    outline: .5px;
}

#bt-cadastrar {
    display: block;
    height: 3rem;
    width: 50%;
    font-size: 1.1rem;
    margin: 3% auto;
    border: solid 2px var(--main-color-destac);
    border-radius: 4px;
    cursor: pointer;
}


/* Icon Class */
.fa-cube {
    font-size: 2.6rem;
    color: var(--white-color);
}